
{%load static%}
{%include 'brain/base.html'%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="{%static 'brain/css/contest_index.css'%}">
<body>


<h1><span class="blue">&lt;</span>Contests<span class="blue">&gt;</span></span></h1>
  <table class="container">
  <thead>
    <tr>
      <th><h1>Name</h1></th>
      <th><h1>Start time</h1></th>
      <th><h1>End time</h1></th>
      <th><h1>Registrations</h1></th>
    </tr>
  </thead>
  <tbody>
    {% if contest_list %}
    {% for contest in contest_list %}
    <tr>
      <td><a class="contest_item" href="{%url 'brain:contest_detail' contest.id%}">{{ contest.name  }} </a></td>
      <td>{{ contest.start}}</td>
      <td>{{ contest.end}}</td>
      <td id={{contest.name}}></td>
    </tr>

    {%endfor%}
    </tbody>
    </table>
    </body>
    {%endif%}
        {% if is_paginated %}
      <h2>
        <span class="page-links">
          {% if page_obj.has_previous %}
            <a href="{%url 'brain:contest_index'%}?page={{ page_obj.previous_page_number }}" id="arrow">&laquo;</a>
          {% endif %}
          <span style="color:white;">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
          </span>
          {% if page_obj.has_next %}
            <a href="{%url 'brain:contest_index'%}?page={{ page_obj.next_page_number }}" id="arrow">&raquo;</a>
          {% endif %}
        </span>
      </h2>
    {% endif %}

    {%if perms.brain.add_contest%}
      <h2><a href="{%url 'brain:contest_create' %}">Create contest</a></h2>
    {%endif%}

  <script>
  $(document).ready(function() {
    {% if contest_list %}
      {% for contest in contest_list %}
          $.ajax({
            url: 'getusers/'+{{contest.id}},
            type: 'GET',

            success: function(data) {
              console.log(data);
              document.getElementById("{{contest.name}}").innerHTML = data['count'];
            },
            error: function(data) {
              console.log(data);
            }
          });
      {%endfor%}
    {%endif%}
  });
  </script>
</html>
