{%load static%}
{%include 'brain/base.html'%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="{%static 'brain/css/globalranklist.css'%}">
<body>


<h1><span class="blue">&lt;</span>Contests<span class="blue">&gt;</span></span></h1>
  <table class="container">
  <thead>
    <tr>
      <th><h1>{{level.name}}</h1></th>
    </tr>
  </thead>
  <tbody>
  {% for ques in level.question_set.all %}
        <tr>
        <td><a href="{%url 'brain:question_detail' ques.id%}">{{ques.name}}</a></td>
      </tr>
  {% endfor %}
</tbody>
</table>
</body>
    {%if mod%}
        <h2><a href="{%url 'brain:level_update' level.id%}">Level Update</a></h2>
        <h2><a href="{%url 'brain:question_create' level.id%}">Question_create</a></h2>
    {%endif%}
{%include 'brain/footer.html'%}
