#nav-container
{
  height: 55px;
}
.navbar
{
  background-color:#1F2739!important;
  margin: 0 0;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 1;
  overflow: hidden;

}
.navbar-default {
    background-color: #1F2739;
    border-color: #1F2739;
}

.navbar-default .navbar-nav>li>a {
    color: #9a6bde;
}

.navbar-right
{
  margin-right: 4px;
}
.navbar-brand
{
  font-size: 20px;
  color: rgba(80, 250, 123, 1) !important;
}
.navbar-header
{
  margin-left: 20px !important;
  margin-right: 5px !important;
}
.navbar-nav li a
{
  font-size: 18px;
}
.navbar-header a, .navbar-nav li a
{
  padding-left: 19px;
  padding-right: 19px;
  font-family: "Comfortaa";
  /*color: black !important;*/
}
.navbar-header a:hover, .navbar-nav li a:hover
{
  /*color: #6600ff !important;*/
}
.navbar-toggle
{
  min-height: 25px;
  height: 30px !important;
  width: 43px !important;
  margin-top: 10px !important; 
  margin-right: 15px !important;
  padding: 5 12 !important;
}
span.icon-bar
{
  width: 18px !important;
}
.underline
{
  position: relative;
  width: 100%;
  height: 3px;
  background-color: rgba(80, 250, 123, 1);
  bottom: -5px;
}
#arrow
{
  font-size: 30px;
  color:#ffb86c;
}
.underline_1 
{
  background-color: #ffb86c !important;
}
.nav_item_1:hover
{
  color: #ffb86c !important;
}
.underline_2 
{
  background-color: #ff79c6 !important;
}
.nav_item_2:hover
{
  color:#ff79c6 !important;
}
.underline_3 
{
  background-color: #8be9fd !important;
}
.nav_item_3:hover
{
  color: #8be9fd !important;
}
.underline_4 
{
  background-color: #9a6bde !important;
}
.nav_item_4:hover
{
  color: #9a6bde !important;
}
.underline_5 
{
  background-color: #ff5555 !important;
}
.nav_item_5:hover
{
  color: #ff5555 !important;
}
.underline_6 
{
  background-color: #8350e2 !important;
}
.nav_item_6:hover
{
  color: #8350e2 !important;
}
.underline_7 
{
  background-color: #4dff4d !important;
}
.nav_item_7:hover
{
  color: #4dff4d !important;
}
.in ul li .underline, .collapsing .underline
{
  display: none;
}
.in ul li .underline, .collapsing .underline
{
  display: none;
}
